@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital@1&display=swap');
/*font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
*/                               


/*******************************************Font and other suffs definitio********************/
html, body{
   padding: 0;
   margin:0px;
}
h1, h2 ,h3 ,h4{
   font-family: 'Anton', sans-serif;
}
p{
   font-family: 'Roboto', sans-serif
}


header
{
   position: absolute   ;
   /*width: 100%;*/
   z-index: 10;
}

#burger
{
   display: flex;
   flex-direction: column;
   /*border: 2px solid black;*/
   width: 40px;
   height: 40px;
   justify-content: start;
   position: static;
   margin: 10px;
   cursor:pointer;
  

}
#burger div{
   border: 1px solid black;
   background-color: black;
   width: 20px;
   height: 3px;
   margin-top: 3px;
}
#burger div:nth-child(2)
{
   width: 15px;


}
#burger :last-child
{
 width: 11px;


}

#closeTap
{
display: none;
font-size: 40px;
position: fixed;
left: 95%;
cursor:pointer;

}




            /*****************************************SomeTest**********************************/
               nav{
                  background-color: grey;

               }
               main {background-color: blue;}
               section{background-color: brown;}



/*************************************************************************************************/
                                                /*Mobile*/

@media only screen{

/***********Main container*****************/

    .container 
    { 
       height: 100vh;
       display: grid;
       grid-template-columns: auto 1fr auto;
       grid-template-rows: 1fr auto;
      position: relative;
      overflow: hidden;
   }  
/******************************************/
/***********Nav****************************/
   nav{
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      /* display: none; */
      right: 100%;
    
     
   }  

   .menuActive
   {
      
      animation:navAnimationFoward 2s forwards;

   }
   .menuInactive
   {
      animation:navAnimationBackwards 2s backwards;

   }
   

   @keyframes navAnimationFoward {
      100%
      {

         transform: translateX(100%);
     
     
      }
      
   }

   @keyframes navAnimationBackwards {
      0% 
      {
          transform: translateX(100%);

      }
   }
   
/******************************************/
/****************pomodoros******************/

#pomo
{
position: absolute;
width: 100%;
margin:0;
padding: 0;
height: 100%;
left: 100%;

}

.pomoActive
{
   
   animation:pomoAnimationFoward 2s forwards;

}
.pomoInactive
{
   animation:pomoAnimationBackwards 2s backwards;

}


@keyframes pomoAnimationFoward {
   100%
   {

      transform: translateX(-100%);
  
  
   }
   
}

@keyframes pomoAnimationBackwards {
   0% 
   {
       transform: translateX(100%);

   }
}

}  






                                               /*Tablet*/
@media only screen 
   and (min-width : 768px) { 
   /* Styles here */

      





}















                                                /*DESKTO+Laptop */
@media only screen 
   and (min-width : 1200px) {
   /* Styles here */
}